body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 2;
    padding: 20px; 
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

#current-image-container {
    flex: 2;
    margin-top: 10px;
    padding: 20px;
    background-color: #222;
    color: white;
    border-radius: 10px;
    max-width: 60%;
    
}

#current-image-container img {
    max-width: 100%;
    max-height: 50%;
    border-radius: 10px;
}

#search-container {
    text-align: center;
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f7f6f6;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#search-history {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#search-history li {
    background-color: #ddd;
    margin: 5px;
    max-width: 60%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#search-history li:hover {
    background-color: #bbb;
}
